@model IEnumerable<Taak.Models.TasksWorkerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminCMSLayout";
}

@*@if (Model.Count() != 0)
{   
*@
<div class="border-bottom">
    <h5>All Workers</h5>
    </div>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
               
                <asp class="btn btn-danger" asp-controller="TasksWorker" asp-action="Delete" asp-route-id="@item.IdTaskWorker">Delete</asp>
            </td>
        </tr>
}
    </tbody>
</table>
@*}
else{
    <div>There are no taskWorkers registered yet</div>
}
*@