@model Taak.Models.TasksWorkerModel

@{
    ViewData["Title"] = "WorkerProfile";
    Layout = "_WorkerCMSLayout";
}


<div class="w-100 p-4 bg-light">
    <h4>Profile Data</h4>
    <hr />
    <dl class="row ">
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <div>
       <a asp-controller="TasksWorker" asp-action="Edit" asp-route-id="@Model.IdTaskWorker">Edit</a>
       <a asp-controller="TasksWorker" asp-action="Delete" asp-route-id="@Model.IdTaskWorker" hidden>Delete</a>
    </div>
</div>

