@model IEnumerable<Taak.Models.OfferModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminCMSLayout";
}
<div class="border-bottom">
<h5>All Offers</h5>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOffer)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Buget)
            </th>
            <th>
                Special Requir
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Accepted
            </th>
            <th>
                Custom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOffer)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Buget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOriginalOfferAccepted)
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Offer" asp-action="Delete" asp-route-id="@item.IdOffer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
