@model IEnumerable<Taak.Models.TaakTaskModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_CustomerCMSLayout";
}

<h1>Index</h1>

@if (Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Buget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialRequirements)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaskEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Building)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Floor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.County)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialRequirements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Building)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        <asp asp-controller="TaakTask" asp-action="Details" asp-route-id="@item.IdTask">Details</asp>
                        <asp asp-controller="TaakTask" asp-action="Update" asp-route-id="@item.IdTask">Update</asp>
                        <asp asp-controller="TaakTask" asp-action="Delete" asp-route-id="@item.IdTask">Delete</asp>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <div>You have not posted yet any tasks</div>
}
