@model IEnumerable<Taak.Models.TaakTaskModel>

@{
    ViewData["Title"] = "SearcheableIndex";
}

<h1>SearcheableIndex</h1>

<p>
    Browse criterias
   <div class="container mb-2">
       <form asp-controller="TaakTask" asp-action="SearcheableIndex" method="post">
           <div>
               <label >Category</label>
               <select id="cat">
                    @foreach(var cat in ViewBag.AllCategories)
                    {
                        <option value="@cat.IdTaskCategory">@cat.Name</option>
                        @ViewBag.cat = @cat.IdTaskCategory;
                    }
                </select>
           </div>
           <div>

           </div>
           <div>

           </div>
           <button type="submit" class="btn btn-primary" asp-route-cat="@ViewBag.cat"/>
       </form>
       
   </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTaskCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTaskCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
