@model OfferViewModelIndexByWorker
@{
    var isAccepted = @Model.IsAccepted==null? false : (bool)@Model.IsAccepted;
}

<div class="w-100 h-100 container d-flex   mb-3 pb-1">
 <div class="w-100 h-100 container d-flex border rounded bg-light ms-2 me-2 mb-1 pt-1 pb-2 ">
    <partial name="_TaskOfferCardComponent" model="@Model.TaakTask"></partial>
    
   <div class="container h-100 w-50 d-flex flex-column  gap-1 m-0 p-0 h-auto">
        
        <div class="w-100 h-100 d-flex flex-column ps-2 pt-2 justify-content-end"  >
            
            @if ((bool)Model.IsOriginalOfferAccepted)
            {
                <div class="text-warning">
                    The offer is made by accepting the task conditions
                </div>

            }
            else
            {
               <div class="w-100 d-flex ">
                   <div class="w-50 d-flex flex-column">
                        <div class="text-info" >
                            Custom Offer
                        </div>
                         @if (@Model.Buget!=0)
                        {
                            <div class="w-50 text-muted">
                                <i class="bi bi-piggy-bank-fill"></i> @Model.Buget.ToString("#")
                            </div>
                        }
                         @if (!String.IsNullOrEmpty(@Model.TaskStartDate.ToString()))
                            {
                            <div class="text-muted">
                                    <i class="bi bi-calendar2-event"></i> @Model.TaskStartDate
                            </div>
                            }
                            @if (@Model.EstimatedTime!=null)
                            {
                            <div class="text-muted">
                                    <i class="bi bi-hourglass-split"></i> Time: @Model.EstimatedTime.ToString()
                            </div>
                            }
                             @if (isAccepted)
                            {
                                <div class="container w-100 text-capitalize text-info">
                                    <i class="bi bi-emoji-smile"></i> Offer was accepted.You are hired!
                                </div>
                            }
                    </div>
                    <div class="w-50 d-flex flex-column">
                            @if (!String.IsNullOrEmpty(@Model.SpecialRequirements))
                             {
                                <div class="w-100">
                                    <div class="">
                                        Special Requirments
                                    </div>
                                    <div class="">
                                        @Model.SpecialRequirements
                                    </div>

                                </div>
                            }
                    </div>
               </div>
              
            }

           
            <div class="w-100  d-flex gap-2 mt-auto" >
              
                 <div class="container d-flex align-content-center justify-content-center border border-secondary rounded m-0 p-0" style="width:70px;height:30px;">
                      <a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.IdOffer" class="text-decoration-none" style="color:grey;">
                         <i class="bi bi-pencil-square"></i> Edit
                        </a>
                 </div>
                <div class="container d-flex align-content-center justify-content-center border border-warning rounded m-0 p-0" style="width:90px;height:30px">
                         <a asp-controller="Offer" asp-action="Delete" asp-route-id="@Model.IdOffer" class="text-decoration-none" style="color:red;">
                           <i class="bi bi-trash3-fill"></i> Delete
                     </a>
                 </div>
            </div>

        </div>
    </div>
</div>
</div>
