@model Taak.Models.TaakTaskModel
@{
    ViewData["Title"] = "_TaskOfferCreateCardComponent";
    
}

<div class="container w-50 d-flex flex-column gap-2 ">
    <div class="w-75 border-bottom" >
        <h5>Task Details</h5>
    </div>
    <div class="w-100">
        @Model.Title
    </div>
    <div class="w-100 text-muted">
        <i class="bi bi-geo-alt"></i>
         @String.Concat(@Model.City,", jud.",@Model.County)
    </div>
    <div class="container w-100 d-flex m-0 p-0 text-muted">
         <i class="bi bi-piggy-bank-fill"></i> @Model.Buget.ToString("#") RON <br/>
    </div>

    <div class="w-75 d-flex flex-column " >
        <div class="w-100 ps-2 text-white " style="background-color:#008fb4;">
                                    <i class="bi bi-clock-history"></i> Time Frame
         </div>
         <div class="w-100 text-success bg-white" >
             <i class="bi bi-hourglass-split"></i> @Model.TaskDate.ToString("dd MMMM yyyy")
         </div>

         @if (Model.DateOption.Trim() == "Flexible")
         {
              <div class="taskDate w-100  bg-white text-success" >
                   <i class="bi bi-caret-right-fill"></i> @Model.DateOption - week [ before : after ]
              </div>
         }
         
         @if (!String.IsNullOrEmpty(@Model.TimeOptions))
         {
               var timeFrames = @Model.TimeOptions.Replace(" ", "").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).ToList();

                                
              @foreach (var time in timeFrames)
                   {
                    <div class="w-100 text-success bg-white" style="">
                          @Html.Raw(@ViewBag.TimeFramesIcons[@time]) @time: @ViewBag.TimeFrames[@time] 
                    </div>
             }

          }

    </div>




    <div class="container-fluid w-75 text-muted m-0 p-0">
        @Model.Description
    </div>
    <div class="w-75 text-danger">
        <i class="bi bi-bell"></i>  
        @Model.SpecialRequirements
    </div>
   
</div>

